<header>
    <nav>
        <div class="row">
            <div class="col-12">
                <ul class="primerNavbar">
                    <li>
                        <i class="fi-interface-user-1"></i>
                        <span>Log In</span>
                    </li>
                    <li>
                        <i class="fi-ecommerce-shopping-bag-9"></i>
                        <!-- Ponerle solo un numero que valla aumentando segun el numero de las compras -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>